<article class="terms" i-open-system-links>

    <h4>
        Effective Date: 2/11/2014
    </h4>
    <p>
    American Civix Technologies L3C d/b/a Powerline (hereinafter “Powerline,” “we” or “us”) provides the website www.powerli.ne (the “Website”) and the mobile application known as Powerline (the “App”), and the data, information, tools, updates and similar materials delivered or provided by Powerline (the “Services”), subject to your agreement to and compliance with the conditions set forth in this Terms and Conditions Agreement (the “Agreement”). This Agreement sets forth the legally binding terms and conditions governing your use of the Website and the Services. If you do not agree to these terms and conditions, you may not use the Website, the App or the Services.
    </p>
    <p>
    Powerline may revise or update the Terms and Conditions by posting an amended Agreement on the Website or through the App. Your continued use of the Website, App or Services after a change of which we make you aware signifies your agreement to the revised terms.
    </p>

        <h3>LICENSE</h3>

    <p>
    As long as you are in compliance with the conditions of this Agreement and all incorporated documents, Powerline hereby grants you a limited, revocable, non-assignable, non-transferrable, non-sublicensable, non-exclusive license to use the Website, the App, Services and materials thereon that are intended to be displayed publicly, and to reproduce the Website and App and its contents only on your computing device for personal use. No rights not explicitly listed are granted.
    </p>

        <h3>INCORPORATED TERMS</h3>

    <p>
    The following additional terms are incorporated into this Agreement as if fully set forth herein:<br>
        1. Privacy Policy<br>
        2. Copyright Policy<br>
        3. Complaint Policy (including Privacy and Trademark)
    </p>
    <h3>IMPORTANT NOTICES</h3>

    <p>
    While we make reasonable efforts to ensure that the Website, App and Services remain available at all times or at the designated times, and that it runs free of serious bugs or defects, we do not represent or warrant that access to the Website, App or Services will be error-free or uninterrupted, and we do not guarantee that users will be able to access or use the Website, App or Services, or their features, at all times. We reserve the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website, the App or the Services, or any part thereof, with or without notice.
    </p>
    <p>
        The Website, App and Service may contain typographical errors or inaccuracies, and may not be complete or current. We reserve the right to correct any such errors, inaccuracies or omissions and to change or update information at any time without prior notice.
    </p>

        <h3>DATA USE/GEOLOCATION</h3>

    <p>
    As described in the Privacy Policy, the Website, App or Services may use the geolocation features of your device to identify your location and inform you of relevant Leaders, groups, causes or issues relating to your location. This feature, and others of the Website, App or Services, will use the internet capabilities of your device, which may incur fees or data usage from your carrier plan.
    </p>


    <h3>PRIVACY POLICY</h3>

    <p>
    Please review our Privacy Policy for information on what information Powerline collects and how we use collected information.
    </p>

    <h3>RULES OF CONDUCT</h3>

    <p>
    Your use of the Website, App and Services is conditioned on your compliance with the terms of this Agreement, including but not limited to these rules of conduct.
    </p>
    <p>
        You agree that you will not violate any applicable law or regulation in connection with your use of the Website, App or Service.
    </p>
    <p>
    Without limiting the foregoing, you agree that you will not make available through the Website or App any material or information that infringes any copyright, trademark, patent, trade secret, or other right of any party (including rights of privacy or publicity).
    </p>
    <p>
        You agree not to distribute, upload, make available or otherwise publish through the Website, App or Service any suggestions, information, ideas, comments, causes, promotions, documents, questions, notes, plans, drawings, proposals, or materials similar thereto (“Submissions”) or graphics, text, information, links, profiles, audio, photos, software, music, sounds, video, comments, messages or tags, or similar materials (“Content”) that:
    </p>
    <p>
        1. is unlawful or encourages another to engage in anything unlawful;
    </p>
    <p>
        2. contains a virus or any other similar programs or software which may damage the operation of Powerline’s or another’s computer;
    </p>
    <p>
        3. violates the rights of any party or infringes upon the patent, trademark, trade secret, copyright, or other intellectual property right of any party; or,
    </p>
    <p>
        4. is libelous, defamatory, pornographic, obscene, lewd, indecent, inappropriate, invasive of privacy or publicity rights, abusing, harassing, threatening or bullying.
    </p>
    <p>
        In addition, the following are additional rules applicable to your use of the Website, App or Service:
    </p>
    <p>
    1. You may not modify, adapt, translate, copy, reverse engineer, decompile or disassemble any portion of the Website, App or Service.
    </p>
    <p>
        2. You may not interfere with or disrupt the operation of the Website, App or Service, including restricting or inhibiting any other person from using the Website, App or Service by means of hacking or defacing.
    </p>
    <p>
        3. You may not transmit to or make available in connection with the Website, App or Service any denial of service attack, virus, worm, Trojan horse or other harmful code or activity.
    </p>
    <p>
        4. You may not attempt to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization.
    </p>
    <p>
        5. You may not take any action that imposes, or may impose, in Powerline’s sole discretion, an unreasonable or disproportionately large load on Powerline’s infrastructure.
    </p>
    <p>
        6. You may not use the payment systems enabled through the Website, App or Service for fraudulent purposes.
    </p>
    <p>
        7. You may only register one Citizen account, but you may register more than one Group or Leader account.
    </p>
    <p>
        You are not licensed to access any portion of the Website, App or Service that is not public, and you may not attempt to override any security measures in place on the Website, App or Service.
    </p>
    <p>
        In addition to the foregoing, if you are a Leader or manage a Group on the Website, App or Service, you further agree that:
    </p>
    <p>
        1. you will only use information given to you by Powerline about other Powerline users for the non-commercial purposes, such as administration of your public office duties or furthering civic engagement.
    </p>
    <p>
        2. You may not re-sell any information given to you by Powerline about other Powerline users.
    </p>
    <p>
        3. You may not spam any individual through information provided to you by Powerline.
    </p>
    <p>
        4. You may not commercially solicit any individual through information provided to you by Powerline unless that individual has opted-in to such communications through mechanisms provided through the Powerline Service.
    </p>

        <h3>CONTENT SUBMITTED OR MADE AVAILABLE TO POWERLINE</h3>

    <p>
    You are under no obligation to submit anything to us, and unless otherwise noted, we will not claim ownership of any Content. If, however, you choose to submit any Content to the Website, App or Service, or otherwise make available any Content through the Website or App, you hereby grant Powerline a perpetual, irrevocable, transferrable, sub-licensable, non-exclusive, worldwide, royalty-free license to reproduce, use, modify, display, perform, distribute, translate and create derivative works from any such Content, including without limitation distributing part or all of the Content in any media format through any media channels.
    </p>
    <p>
        By submitting any Content or Submissions to Powerline you hereby agree, warrant and represent that: (a) the Content and Submissions do not contain proprietary or confidential information, and the provision of the Content and Submissions is not a violation of any third-party’s rights; (b) all such Submissions and Content are accurate and true, and (c) you are not entitled to compensation or attribution from Powerline in exchange for the Submissions or Content.
    </p>
    <p>
        You acknowledge that Powerline is under no obligation to maintain the Website, App or Service, or any information, causes, petitions, materials, Submissions, Content or other matter you submit, post or make available to or on the Website, App or Service. We reserve the right to withhold, remove and or discard any such material at any time. This may include Powerline limiting your communications to constituents, followers, leaders or groups, for any reason in Powerline’s discretion, which may include the interest of our social mission, out business or the privacy of our users
    </p>

        <h3>CONTENT SHARED THROUGH POWERLINE</h3>

    <p>
    The Website, App and Services may make it possible for you to choose to identify yourself as a supporter of a particular cause, and to send information to yourself, to others or to the public. You understand that by sharing information on the Website, App or Services, and requesting information to be sent through the Website, App or Services, you may be revealing information about political affiliation, gender, nationality, or other information that you include. You understand and acknowledge that you are fully aware and responsible for the impact of sharing such materials, and you agree that Powerline shall not be held responsible, and Powerline shall be released and held harmless by you from any liability or damages arising out of such conduct.
    </p>

    <h3>USER CONDUCT ON POWERLINE</h3>

    <p>
    Powerline is designed to allow person-to-person communications, as well as communications and conduct between Groups, Leaders and Citizens. Powerline does not involve itself in such activities, and you understand and agree that Powerline is not responsible for the actions of any Group, Leader or Citizen using the Powerline Website, App or Service. You agree that you will not bring any claim or make any allegation against Powerline based on such activities.
    </p>

        <h3>OUR INTELLECTUAL PROPERTY</h3>

    <p>
    Powerline’s graphics, logos, names, designs, page headers, button icons, scripts, and service names are trademarks, trade names and/or trade dress of Powerline. The “look” and “feel” of the Website, App and Service (including color combinations, button shapes, layout, design and all other graphical elements) are protected by U.S. copyright and trademark law. All product names, names of services, trademarks and service marks ("Marks") are the property of Powerline or the property of their respective owners, as indicated. You may not use the Marks or copyrights for any purpose whatsoever other than as permitted by this Agreement.
    </p>

        <h3>ENFORCEMENT AND TERMINATION</h3>
    <p>
    Powerline reserves the right to deny all or some portion of the Website, App and/or Service to any user, in Powerline sole discretion, at any time. Without limiting the foregoing or assuming additional legal obligations, Powerline has a policy of terminating repeat violators of the Copyright Act, in accordance with applicable law. All grants of any rights from you to Powerline related to Content, Submissions, or other materials, including but not limited to copyright licenses, shall survive any termination of this Agreement. Further, your representations, defense and indemnification obligations survive any termination of this Agreement.
    </p>

        <h3>DISCLAIMERS AND LIMITATION ON LIABILITY</h3>

    <p>
    BY USING THE WEBSITE, APP AND SERVICE YOU AGREE AND ACKNOWLEDGE THAT POWERLINE PROVIDES THE WEBSITE, APP AND SERVICES “AS IS” AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. POWERLINE, ITS PARENTS, SUBSIDIARIES, OFFICERS, DIRECTORS, SHAREHOLDERS, MEMBERS, MANAGERS, EMPLOYEES AND SUPPLIERS, SPECIFICALLY DISCLAIM ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, PERFORMANCE, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM POWERLINE SHALL CREATE ANY WARRANTY.
    </p>
    <p>
        USE OF THE WEBSITE, APP AND SERVICES IS AT YOUR SOLE RISK. POWERLINE DOES NOT WARRANT THAT YOU WILL BE ABLE TO ACCESS OR USE THE WEBSITE, APP OR SERVICE AT THE TIMES OR LOCATIONS OF YOUR CHOOSING; THAT THE WEBSITE, APP OR SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE; THAT DEFECTS WILL BE CORRECTED; OR THAT THE WEBSITE, APP OR SERVICE IS FREE OF INACCURACIES, VIRUSES OR OTHER HARMFUL COMPONENTS.
    </p>
    <p>
        TO THE MAXIMUM EXTENT PERMITTED BY LAW, IN NO EVENT SHALL POWERLINE, ITS AFFILIATES, LICENSORS AND BUSINESS PARTNERS (COLLECTIVELY, THE "RELATED PARTIES") BE LIABLE TO YOU BASED ON OR RELATED TO THE WEBSITE, APP OR SERVICES, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, AND SHALL NOT BE RESPONSIBLE FOR ANY LOSSES OR DAMAGES, INCLUDING WITHOUT LIMITATION DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, OR SPECIAL DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH ACCESS TO OR USE OF THE WEBSITE, APP OR SERVICE, EVEN IF POWERLINE AND/OR RELATED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
    </p>
    <p>
        Notwithstanding the foregoing, in the event that a court shall find that the above disclaimers are not enforceable, then you agree that neither Powerline nor any of its subsidiaries, affiliated companies, employees, members, shareholders, or directors shall be liable for (1) any damages in excess of $500.00 or (2) any indirect, incidental, punitive, special, or consequential damages or loss of use, lost revenue, lost profits or data to you or any third party from your use of the Website, App or Services. This limitation shall apply regardless of the basis of your claim or whether or not the limited remedies provided herein fail of their essential purpose.
    </p>
    <p>
        This limitation shall not apply to any damage that Powerline causes you intentionally and knowingly in violation of this Agreement or applicable law that cannot be disclaimed in this Agreement.
    </p>

        <h3>INDEMNIFICATION</h3>

    <p>
    You agree to defend, indemnify and hold Powerline and its suppliers, subsidiaries, licensors, and licensees, and each of their officers, directors, shareholders, members, employees and agents harmless from all allegations, judgments, awards, losses, liabilities, costs and expenses, including but not limited to reasonable attorney's fees, expert witness fees, and costs of litigation arising out of or based on (a) Submissions or Content you submit, post to or transmit through the Website, App or Services (b) your use of the Website, App or Service, (c) your violation of the Agreement, and (d) any conduct, activity or action which is unlawful or illegal under any state, federal or common law, or is violative of the rights of any individual or entity, engaged in, caused by, or facilitated in any way through the use of Website, App or Service.
    </p>

        <h3>GOVERNING LAW AND JURISDICTION</h3>

    <p>
    This Agreement is governed by and shall be construed in accordance with the laws of the State of New Jersey, U.S.A., excluding the application of its conflict of law rules. You agree that any dispute arising out of or relating to the Website, App or Services, or to Powerline, may only be brought by you in a state or federal court located in New Jersey. YOU HEREBY WAIVE ANY OBJECTION TO THIS VENUE AS INCONVENIENT OR INAPPROPRIATE, AND AGREE TO EXCLUSIVE JURISDICTION AND VENUE IN NEW JERSEY. In any such proceeding, you agree that service may be made upon you via e-mail at your e-mail address that we then have on-file.
    </p>

        <h3>POLICIES FOR CHILDREN</h3>

    <p>
    The Website, App and Services are not directed to individuals under the age of 13, nor do they contain information which would be potentially harmful to minors. In the event that Powerline discovers that a child under the age of 13 has provided personally identifiable information to us, we will make efforts to delete the child’s information in accordance with the Children's Online Privacy Protection Act. Please see the Federal Trade Commission's website for (www.ftc.gov) for more information.
    </p>
    <p>
        Notwithstanding the foregoing, pursuant to 47 U.S.C. Section 230 (d), as amended, we hereby notify you that parental control protections are commercially available to assist you in limiting access to material that is harmful to minors. More information on the availability of such software can be found through publicly available sources. You may wish to contact your Internet Service Provider for more information.
    </p>

        <h3>GENERAL</h3>

    <p>
    Severability. If any provision of this Agreement is found for any reason to be unlawful, void or unenforceable, then that provision will be given its maximum enforceable effect, or shall be deemed severable from this Agreement and will not affect the validity and enforceability of any remaining provision.
    </p>
    <p>
        Revisions. This Agreement may only be revised by you in a writing signed by Powerline. In the event that Powerline updates this Agreement, your continued use of the Website, App or Services after being made aware of the update shall constitute an agreement to the updated terms.
    </p>
    <p>
        No Partnership. You agree that no joint venture, partnership, employment, or agency relationship exists between you and Powerline as a result of this Agreement or your use of the Website, App or Services.
    </p>
    <p>
        Assignment. Powerline may assign its rights under this Agreement, in whole or in part, to any person or entity at any time with or without your consent. You may not assign the Agreement without Powerline’s prior written consent, and any unauthorized assignment by you shall be null and void.
    </p>
    <p>
        No Waiver. Our failure to enforce any provision of this Agreement shall in no way be construed to be a present or future waiver of such provision, nor in any way affect the right of any party to enforce each and every such provision thereafter. The express waiver by us of any provision, condition or requirement of this Agreement shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement.
    </p>
    <p>
        Notices. All notices given by you or required under this Agreement shall be in writing and addressed to: legal@powerli.ne.
    </p>
    <p>
        Equitable Remedies. You hereby agree that Powerline would be irreparably damaged if the terms of this Agreement were not specifically enforced, and therefore you agree that we shall be entitled, without bond, other security, or proof of damages, to appropriate equitable remedies with respect to breaches of this Agreement, in addition to such other remedies as we may otherwise have available to us under applicable laws.
    </p>
    <p>
        Entire Agreement. This Agreement, including the documents expressly incorporated by reference, constitutes the entire agreement between you and Powerline with respect to the Website, App and Service, and supersedes all prior or contemporaneous communications, whether electronic, oral or written.
    </p>

    <h3>INCORPORATION OF STRIPE PAYMENT TERMS AND POLICIES</h3>

    <p>
      Payment processing services for users on Powerline are provided by Stripe and are subject
      to the <a href="https://stripe.com/connect/account-terms">Stripe Connected Account Agreement</a>, which includes
      the Stripe Terms of Service (collectively, the “Stripe Services Agreement” - located at <a href="https://stripe.com/terms">https://stripe.com/terms</a>).
      By agreeing to these Terms or continuing to operate as a User on Powerline,
      you agree to be bound by the Stripe Services Agreement, as the same may be modified by Stripe from time to time. As a condition of Powerline enabling payment processing services through Stripe, you agree to provide Powerline accurate and complete information about you and your business or organization, and you authorize Powerline to share it and transaction information related to your use of the payment processing services provided by Stripe.
    </p>

    <h3>PRIVACY POLICY</h3>

    <br>
    <h4>
    Your Privacy Rights
    </h4>
    <h4>
    Effective Date: 2/11/2014
    </h4>
    <p>
    This Privacy Policy describes the types of information American Civix Technologies L3C d/b/a Powerline (hereinafter “Powerline,” “we” or “us”) gathers, how we use it, with whom the information may be shared, what choices are available to you regarding collection, use and distribution of information and our efforts to protect the information you provide to us through our website at <a href="http://powerli.ne">powerli.ne</a> (the “Website”) and through our mobile application known as “Powerline” (the “App”). By using the Website or the App, and the functionality, data, information, updates, and similar materials delivered or provided through or by the Website or the App (the “Service”), you hereby consent to allow us to process information in accordance with this Policy. Please also refer to our [Terms of Use], which are incorporated as if fully recited herein.
    </p>
    <p>
        If our information retention or usage practices change, we will let you know by posting the Privacy Policy changes on the Website or through the App. Please refer to the “Effective Date” above to see when this Policy was last updated.
    </p>
    <h4>
        Territoriality
    </h4>
    <p>
    Regardless of where our servers are located, your personal data will be processed by us in the United States, where data protection and privacy regulations may or may not be to the same level of protection as in other parts of the world. BY VISITING THIS WEBSITE OR USING THE APP, YOU UNEQUIVOCALLY CONSENT TO THE COLLECTION AND PROCESSING IN THE UNITED STATES OF ANY INFORMATION COLLECTED OR OBTAINED BY US THROUGH VOLUNTARY SUBMISSIONS, AND YOU ALSO AGREE THAT U.S. LAW GOVERNS ANY SUCH COLLECTION AND PROCESSING.
    </p>
    <h4>
        Information Collected
    </h4>
    <p>
    We collect two types of information about persons who use the Website, App or Service: voluntarily provided personal information and automatically collected information. In collecting information, Website, App or Service may utilize web beacons, pixel tags, cookies, third-party cookies, embedded links, and other commonly used information-gathering tools. Although you may turn off the collection of cookies through your browser options, it may hamper your user experience or limit your ability to use the Service.
    </p>
    <h4>
        Personal Information Collected
    </h4>
    <p>
        Powerline collects certain Personal Information about you, which may be supplied when you sign-up for the Website, App or Service, when you complete a survey, when you sign a petition or support a cause, when you create or update an account, when you join a group, when you request services or otherwise when you submit it or use the Website, App or Service. The information that may be collected includes:
        <br>• Name;
        <br>• Address;
        <br>• Phone number;
        <br>• Username;
        <br>• Device identifier;
        <br>• Social media credentials and information;
        <br>• Email;
    </p>

    <p>
        The Website, App or Service may use location-based technologies on your device to identify your location. As detailed below, this information is collected for a variety of purposes. The Website, App or Service may collect this information in the background, even when the Website, App or Service is not actively being used.
    </p>
    <p>
        At your direction, the Website, App or Service may access your camera roll, images, contact book or other data on your device.
    </p>
    <p>
        In addition, although not collected through the Website, App or Service, Powerline may collect publicly available information about you, such as through the public national voter file, and Poweline may associate this information with its records about you.
    </p>
    <p>
        Powerline may also collect information about how you use the Website, App or Service, such as what causes you create, support or view.
    </p>
    <h4>
        Non-Personal Information
    </h4>
    <p>
        Non-Personal Information is non-personally identifiable or anonymous information about you, such as age, gender, types of products purchased, usage history, the type of device you used and its operating system, the pages accessed most frequently, how pages are used, applications downloaded, or search terms entered. Automatically Tracking Internet Protocol (IP) addresses is one method of automatically collecting information about your activities online and information volunteered by you. An IP address is a number that is automatically assigned to your device whenever you surf the Internet.
    </p>
    <h4>
        Use of Information
    </h4>
    <p>Internal Use of Information by Powerline
    </p>
    <p>We accept and gather certain types of information in an effort to provide the Website, App and Service to you. We may also use this information help us develop and improve or our Service, fulfill your requests, send materials to you, inform you about our offers, tailor our Service to meet your interests, and for other purposes permitted by law.
    </p>
    <p>We may use location-based information collected about you for various internal purposes, including alerting you to causes proximate to your location that you may wish to support or lean about.
    </p>
    <p>Sharing Information Collected with Third Parties, Consultants, and Affiliates
    </p>
    <p>We may share collected information with our business associates, consultants, service providers, advisors and affiliates in order for them to provide services to us, to you and to Website, App or Service.
    </p>
    <p>The information we collect may also be shared with people or Groups you follow on the Website, App or Service, known as “Leaders”, and with the Leaders of causes or Groups you support or identify for such sharing.
    </p>
    <p>We may populate your user profile on the Service with information you supply to us or that you share with us through signing-up for the Service through a social media account (e.g., Facebook, Twitter, Google+). Some of this information may be made publicly available through your profile. You may edit which of such information is publicly associated with your user profile.
    </p>
    <p>We may share or sell information we collect in a reasonably anonymized way (excluding name, address and phone number) for analytical purposes, such as statistical studies, for commercial or non-commercial research, such as market or campaign studies, as well as for the general promotion of Powerline.
    </p>
    <p>Our Service may use Google Analytics, a web analytics service provided by Google, Inc. (“Google”). Google Analytics uses cookies, to help us analyze how users use the Service. You may be able to opt-out of Google’s collection. Please visit Google’s Ads Preferences Manager or the Google Analytics opt-out browser add-on for more information. As noted, disabling cookies may impact your user experience.
    </p>
    <p>Further, we may disclose collected information to the extent we believe it necessary to comply with the law, such as in response to a subpoena or court order, to defend a legal claim or otherwise as permitted by applicable law. Additionally, we may transfer your information to successor in interest, which may include but may not be limited to a third-party in the event of an acquisition, sale, merger or bankruptcy.
    </p>
    <h4>Sharing By Users </h4>
    <p>The Website, App or Service may make it possible for you to share certain information about your use of the Website, App or Service on the Service itself or through social media services, such as Facebook, Twitter or Google+. The Website, App or Service will not share such information without an action initiated by you, such as uploading to your profile or otherwise sharing. You acknowledge that your voluntary sharing of certain information regarding your use of the Website, App or Service will make such information public.
    </p>
    <p>Similarly, if you sign a petition or cause that is designated as public, your activity relating to such petition or cause will be made public.
    </p>
    <h4>Links</h4>
    <p>Our Website, App or Service may contain links to other websites or may otherwise navigate you outside our Website, App or Service. We are not responsible for the privacy practices of such other sites, apps or other locations. When you leave our Website, App or Service, please read the privacy statements of your destination. This Privacy Policy applies solely to information collected by our Website, App or Service.
    </p>
    <h4>Security</h4>
    <p>Protecting your information is a priority for us, and therefore we employ procedural and technical safeguards to secure your personal information against loss, theft, alteration, and unauthorized access, use and disclosure. We also employ security procedures to protect your information from unauthorized access by users inside and outside the company.
    </p>
    <p>Regardless of the precautions taken by Powerline, no transmission of data over the Internet is guaranteed to be completely secure. It may be possible for third parties not under our control to intercept or access transmissions or private communications unlawfully. While we strive to protect personal information, we cannot ensure or warrant the security of any information you transmit to us.
    </p>
    <h4>Access and Control</h4>
    <p>Some of the information collected about you will be retrievable and changeable through your username login. To do so, either follow instructions on Website, App or Service, or send us an email at legal@powerli.ne.
    </p>
    <h4>Children and Privacy</h4>
    <p>We do not knowingly permit users if they are under 13 years old, and therefore do not request personally identifiable information from anyone under the age of 13. If we become aware that a customer is under the age of 13 and has provided us with personal information without prior verifiable parental consent, we will remove his or her personally identifiable registration information and/or the user account from our files. If you are the parent or guardian of a person under the age of 13 who has provided personally identifiable information to us without your approval, please inform us by contacting us at the e-mail address below.
    </p>
    <h4>California Privacy Rights</h4>
    <p>California law allows California residents to request information regarding our disclosures in the prior calendar year, if any, of their personally identifiable information to third parties. To make such a request, please contact us at legal@powerli.ne with "Request for Privacy Information" in the subject line. Please include enough detail for us to locate your file; at a minimum, your name, email, and username, if any. We will attempt to provide you with the requested information within thirty (30) days of receipt. We reserve our right not to respond to requests sent more than once in a calendar year, or requests submitted to an address other than the one posted in this notice. Please note that this law does not cover all information sharing. Our disclosure only includes information covered by the law.
    </p>

    <h4>Contact Information</h4>

    <p>If you have any questions, comments, requests or suggestions regarding our Privacy Policy, please contact us via e-mail at legal@powerli.ne.
    </p>
</article>