.margin-h-8 {margin-left: 8px; margin-right: 8px;}
.margin-v-8 {margin-top: 8px; margin-bottom: 8px;}
.margin-8 {margin: 8px;}

.margin-h-10 {margin-left: 10px; margin-right: 10px;}
.margin-v-10 {margin-top: 10px; margin-bottom: 10px;}
.margin-10 {margin: 10px;}

.margin-h-20 {margin-left: 20px; margin-right: 20px;}
.margin-v-20 {margin-top: 20px; margin-bottom: 20px;}
.margin-b-20 {margin-bottom: 20px;}
.margin-20 {margin: 20px;}

.padding-10 {padding: 10px}
.padding-v-10 {padding-bottom: 10px;padding-top: 10px}

.padding-20 {padding: 20px}
.padding-v-20 {padding-bottom: 20px;padding-top: 20px}

.block-center {
    padding-top: 40%;

    @media screen and (orientation:landscape) {
        padding-top: 10%;
    }
}

.bottom-fixed-portrait {
  position: fixed;
  bottom: 0;
  left: 0;
  @media screen and (orientation:landscape) {
    position: static;
    margin-top: 80px;
  }
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}

.popup-overflow {
  position: fixed;
  z-index: 12;
  top: -15px;
  left: 0;
  bottom: -15px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
  .popup {
    margin: 100px 8px 8px;
    background: #fff;
    position: relative;
    border: 1px solid #000;
    border-radius: 3px;
    .section-title {
      margin: 15px 8px;
      font-size: 12px;
      color: #636363;
      span {
        color: #030366;
        font-family: Lato;
      }
      strong {
        font-family: "Lato Bold";
      }
    }
    .text-field-2 {
      margin: 6px 8px;
    }

    .text-close {
      position: absolute;
      top: 12px;
      right: 10px;
    }
    .btn-close {
      position: absolute;
      top: 0; right: 0;
    }
    .section-footer {
      padding: 10px 12px;
      background: #030366;
      border-radius: 0 0 2px 2px;
      font-size: 15px;
      font-family: Lato;
      a {
        color: #fff;
      }
      span {
        color: #fff;
        padding: 0 8px;
        margin: auto 8px;
        border-right: solid 1px #323297;
      }

      text-align: right;
    }
  }
}

.footer-fixed {
  padding: 8px 12px;
  background: #030366;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  color: #5656ac;
  font-size: 9px;
  font-family: Lato;
  box-sizing: border-box;
  strong {
    color: #fff;
  }
  .right {
    float: right;
    font-size: 12px;
  }
}