$menuBgColor: #0c0c54;
$menuBgColorActive: #54c5ff;
$menuColor: #fff;
$menuColorActive: #fff;
$menuBorderBottomColor: #31316e;

.nav {
  background: $menuBgColor;
  .bar-header, ion-content{
    background-color: transparent;
  }

  .menu-items {
    width: 100%;
    text-align: center;
  }

  li {
    border: solid 1px $menuBorderBottomColor;
    float: left; 
    width: 50%;
    color: $menuColor;
    font-size: 15px;
    i {
      display: block;
      height: 50px;
      width: 84px;
      margin-top: -5px;
      background-image: url("../images/v2/icons/menu-sprite.png");
      background-size: 129px 630px;
      background-repeat: no-repeat;
      background-position-y: 55px;
      background-position-x: -27px;
    }

  }

  li.home-item i {background-position-y: 11px;}
  li.groups-item i {background-position-y: -47px;}
  li.influences-item i {background-position-y: -102px;}
  li.representatives-item i {background-position-y: -157px;}
  li.other-item i {background-position-y: -320px;}
  li.profile-item i {background-position-y: -210px;}
  li.settings-item i {background-position-y: -265px;}
  li.friend-finder-item i {background-position-y: -102px;}
  li.logout-item i {background-position-y: -377px;}
  li.help-item i {background-position-y: -430px;}
  li.share-item i {background-position-y: -482px;}
  li.favorite-item i {background-position-y: -528px;}
  li.searching-item i {background-position-y: -576px;}

  li.active,
  li.ng-click-active,
  li.activated{
    background-color: $menuBgColorActive;
    color: $menuColorActive;
  }

  .search-item {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: $mainHeaderHeight;
    line-height: $mainHeaderHeight;
    width: 100%;
    border-bottom:solid 1px #06067b;
    box-shadow: 0px 1px 0px #000;
    text-indent: 10px;
    font-size: 15px;
    color: #fff;
  }
}

.new-post-window {
  width: 230px;
  position: fixed;
  z-index: 11;
  top: 45px;
  right: 10px;
  padding-top: 9px;
  background: url('../images/v2/cut/top-corner.png') 204px top no-repeat;
  background-size: 19px auto;
  box-shadow: -1px 5px 10px rgba(0, 0, 0, 0.2);
  a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #030366;
    font-size: 12px;
    border-top: solid 1px #f7f7f7;
    border-bottom: solid 1px #ddd;
    background: #fff;
    &:first-child {border-top: none;}
    &:last-child {border-bottom: none;}
    i {
      width: 55px;
      height: 50px;
      display: inline-block;
      background: url('../images/v2/icons/post-icons.png') no-repeat;
      background-size: 115px auto;
      vertical-align: middle;
      &.post {
        background: url('../images/v2/icons/post-icons-flag.png') no-repeat;
        background-size: 18px auto;
        background-position: 18px 16px;
      }
      &.user-petition {
        background-position: -72px -42px;
      }
      &.poll-question {
        background-position: 13px 7px;
      }
      &.poll-fundraiser {
        background-position: 16px -42px;
      }
      &.announcement {
        background: url('../images/v2/icons/post-icons-announcement.png') no-repeat;
        background-size: 19px auto;
        background-position: 20px 15px;
      }
    }
    .text{
      display: inline-block;
      margin-left: 15px;
    }
    &.ng-click-active {background-color: #ddd;}
  }
}