/*--------------------
      CSS RESET
--------------------*/

/*
HTML5 Reset
Version 1.2
Author: Kim Maida | http://kim-maida.com
Updated: 12-9-2012
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins,
kbd, q, s, samp, small, strike, strong, tt, var, dl, dt,
dd, ol, ul, li, fieldset, form, input, textarea, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, button {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0; /* for iOS */
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
  vertical-align: baseline;
  outline: none;
}
a {
  color: inherit;
}
img, input, select { vertical-align: middle; }

ol, ul { list-style: none; }

a,
label,
input[type=button],
input[type=submit],
button { cursor: pointer; }

input, select, textarea { font-family: inherit; }
textarea { overflow: auto; } /* prevents scrollbar from showing up when unneeded in IE */
select {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td { text-align: left; font-weight: normal; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

i, em { font-style: italic; }
b, strong { font-weight: bold; }

q:lang(en) { quotes: '&#8220;' '&#8221;' '&#8216;' '&#8217;'; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

del { text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* ----------------------
     Mobile reset styles
------------------------ */
html {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none;
}

*:not(input):not(textarea) {
  -webkit-user-select: none; /* disable selection/Copy of UIWebView */
  -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

* {
  -webkit-appearance: none;
}