<ion-view view-title="{{filter.selectedGroup ? filter.selectedGroup.getTitle() + ' ' : ''}}Powerline" hide-back-button="true" class="has-notifications-bar">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-compose button-clear" ng-click="togglePostWindow()"></button>
  </ion-nav-buttons>

  <!-- fixed header content -->
  <section ng-show="showPostWindow" class="new-post-window" ng-click="$event.stopPropagation()">
    <a ng-click="createNewContent('post')"><i class="post"></i>New Post</a>
    <a ng-click="createNewContent('user-petition')"><i class="user-petition"></i>New Petition</a>
  </section>
  <section ng-include="'templates/notifications.html'"></section>
  <section class="groups-filter-panel">
    <div class="article-list-filter">
      <div ng-click="changeGroupFilter(null)" ng-class="{selected: !filter.selectedGroup}">
        <figure>
          <img src="images/v2/icons/all-group.png" />
          <span ng-show="filter.inPriorityZoneCount" ng-bind="filter.inPriorityZoneCount"></span>
        </figure>
        <span>All</span>
      </div>
      <div ng-repeat="group in filter.groups.slice(0, 3)" ng-click="changeGroupFilter(group)"
           ng-class="{selected: group == filter.selectedGroup, read: group.read}">
        <figure>
          <img ng-src="{{ group.getIcon()}}" />
          <span ng-show="group.inPriorityZoneCount" ng-bind="group.inPriorityZoneCount"></span>
        </figure>
        <span ng-bind="group.getTitle()"></span>
      </div>
      <div ng-click="filter.filter_full_view = !filter.filter_full_view" class="more"
           ng-class="{selected: filter.selectedGroup.group_type === 0, open: filter.filter_full_view}">
        <figure>
          <img src="images/v2/icons/more.png" ng-show="filter.selectedGroup == null" />
            <avatar-img 
            ng-show="filter.selectedGroup != null"
            img="filter.selectedGroup.getIcon()" 
            text="filter.selectedGroup.acronym"></avatar-img>
        </figure>
        <span>More</span>
      </div>
    </div>
    <div class="article-list-filter shadow"
         ng-show="filter.filter_full_view"
         ng-click="filter.filter_full_view = false;
               $event.stopPropagation()"
         ng-repeat="start in steps()">
      <div ng-repeat="group in filter.groups.slice(start, start + filterLineStep())" ng-click="filter.selectedGroup = group"
           ng-class="{selected: group == filter.selectedGroup, read: group.read}">
        <figure>
          <div class="avatar">
            <avatar-img img="group.getIcon()" text="group.acronym"></avatar-img>
          </div>
          <span ng-show="group.inPriorityZoneCount" ng-bind="group.inPriorityZoneCount"></span>
        </figure>
        <span ng-bind="group.getTitle()"></span>
      </div>
      <div ng-click="path('/groups/search')" ng-if="$last">
        <figure style="margin-bottom: 2px;">
          <img src="images/v2/icons/add-dark.png" />
        </figure>
        <span>Add Group</span>
      </div>
    </div>
  </section>
  <!-- fixed header content -->

  <ion-content class="page-home content">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="pullToRefresh()">
    </ion-refresher>
    <p class="info-message" ng-show="!loading && !activities.length">
      The world belongs to those who speak up! Be the first to create a post!
    </p>
    <section class="activity-list-wrap" ng-include=" 'templates/home/activities.html'"></section>
    
    <ion-infinite-scroll
      ng-if="isLoadMore"
      on-infinite="loadMoreActivities()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>