<ion-view view-title="New Group Event">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="sendButtonClicked()">Send</button>
  </ion-nav-buttons>

  <ion-content class="content has-footer" has-bouncing="false">
    <section class="dropdown-1">
      <div class="title" ng-click="data.openChoices = !data.openChoices">
        <fieldset class="profile-avatar">
          <avatar-img img="profile.avatar_file_name" text="profile.first_name"></avatar-img>
        </fieldset>
        <span>
          <fieldset class="avatar" ng-show="data.group">
            <img ng-src="{{ data.group.getIconWhite()}}" />
          </fieldset>
          {{ data.group ? data.group.official_title : 'Select a community' }}
        </span>
        <i class="icon-post"></i>
      </div>
      <ul class="choices" ng-show="data.openChoices">
        <li ng-repeat="item in groups" ng-click="data.group = item;
                data.openChoices = false;">
          <span>
            <fieldset class="avatar">
              <avatar-img img="item.getIconWhite()" text="item.official_title"></avatar-img>
            </fieldset>
            {{ item.official_title}}
          </span>
        </li>
      </ul>
    </section>

    <form novalidate autocomplete="off">
      <fieldset class="add-post">
        <div class="title-field" ng-class="invalidClass(pollQuestionForm.question_text.$invalid)">
            <input ng-model="data.title" name="title_text" maxlength="255" required placeholder="Event title" />
        </div>
        <textarea ng-model="data.desc" maxlength="250" name="description_text"
                  required placeholder="Type your description here"
                  ng-init="data.chars_left = 250"
                  ng-change="data.chars_left = 250 - data.desc.length"
                  style="background-color: white; padding: 6px; margin-bottom: 14px;"></textarea>
        </textarea>
        <div style="padding-left: 9px; padding-bottom: 10px;">
          Start and end time in your local time ({{local_time_offset}})
        </div>
        <div class="title-field">
          <div class="item-floating-label text-field-1" style="background-color: white; border: 0; padding: 0 30px 0 0px;">
            <span class="input-label" style="font-size: 16px">Start of Event (day)</span>
            <i class="icon-field icon-date"></i>
            <input 
            type="date"
            ng-model="data.start_day" 
            name="start_of_event_date" 
            maxlength="10" placeholder="" />
          </div>
        </div>
        <div class="title-field">
          <div class="item-floating-label text-field-1"  style="background-color: white; border: 0; padding: 0 30px 0 0px;">
            <span class="input-label"  style="font-size: 16px">Start of Event (hour)</span>
            <select 
            style="font-weight: 900; color: black"
            ng-model="data.start_hour" name="start_of_event_hour" 
            ng-options="h for h in hours">
            </select>
          </div>
        </div>
        <div class="title-field">
          <div class="item-floating-label text-field-1" style="background-color: white; border: 0; padding: 0 30px 0 0px;">
            <span class="input-label" style="font-size: 16px">End of Event (day)</span>
            <i class="icon-field icon-date"></i>
            <input 
            type="date"
            ng-model="data.end_day" 
            name="end_of_event_date" 
            maxlength="10" placeholder="" />
          </div>
        </div>
        <div class="title-field"  style="margin-bottom: 25px">
          <div class="item-floating-label text-field-1"  style="background-color: white; border: 0; padding: 0 30px 0 0px;">
            <span class="input-label"  style="font-size: 16px">End of Event (hour)</span>
            <select 
            style="font-weight: 900; color: black"
            ng-model="data.end_hour" name="end_of_event_hour" 
            ng-options="h for h in hours">
            </select>
          </div>
        </div>

        <div ng-repeat="answer in answers track by $index">
          <button style="float:right; position: relative; top: -5px;" 
          class="button icon ion-close-circled button-clear"
          ng-click="removeAnswer($index)">
          </button>
          <div style="overflow: hidden;">
            <input class="title-field" 
            style="" 
            ng-model="answer.desc" 
            name="question_text" 
            maxlength="255" 
            required placeholder="Type RSVP answer here" />
          </div>
        </div>
        <div style="width: 200px;" class="margin-v-20">
          <button class="btn-large btn-primary icon-left ion-plus-circled"
          ng-click="addAnswer()">
            Add RSVP Response
          </button>
        </div>
      </fieldset>
    </form>

  </ion-content>

  <section class="footer-fixed" style="padding: 18px 12px;">
    <strong class="right" ng-bind="data.chars_left"></strong>
    <span ng-show="data.group && data.group.available !== undefined">
      You have (<strong>{{ data.group.available}}</strong>) polls left in this group
    </span>
  </section>
</ion-view>