<section ng-controller="influences.following" class="margin-8">
  <ul class="profiles-list-two">
    <li ng-repeat="item in data">
      <figure ng-click="navigateTo('path', 'influence/profile', item.get('user').id)">
        <avatar-img img="item.get('user').avatar_file_name" text="item.get('user').first_name"></avatar-img>
      </figure>
      <p ng-click="navigateTo('path', 'influence/profile', item.get('user').id)">{{ item.get('user').username}}</p>
      <p ng-if="item.isApproved()"><span>{{ item.get('user').first_name}} {{ item.get('user').last_name}}</span></p>
      <a style="position:absolute; right: 10px; top: 25px" ng-click="unfollow(item)">
        <i class="icon ion-person calm" style="font-size: 25px"></i>
        <i class="icon ion-minus-circled" style="font-size: 14px; vertical-align: middle"></i> 
      </a>
      <p ng-if="!item.isApproved()" class="pending-message">pending approval</p>
    </li>
  </ul>

  <p class="info-message" ng-hide="data.length">
    No influences?! Nonsense - follow someone whose opinion you respect to improve your Powerline experience!.
  </p>

</section>