<section ng-controller="influences.followers" class="margin-8">
  <ul class="profiles-list-two">
    <li ng-repeat="item in data">
      <figure ng-click="navigateTo('path', 'influence/profile', item.user_id)">
        <avatar-img img="item.avatar_file_name" text="item.first_name"></avatar-img>
      </figure>
      <p ng-click="navigateTo('path', 'influence/profile', item.user_id)">{{ item.username}}</p>
      <p ng-if="item.isApprovedByCurrentUser()"><span>{{ item.first_name}} {{ item.last_name}}</span></p>
      <a ng-show="item.isApprovedByCurrentUser()" class="follow-action" ng-click="remove(item)">
        <i class="icon ion-person calm"></i>
        <i class="icon ion-minus-circled" style="color: #adb7c6"></i> 
      </a>
      <a ng-show="!item.isApprovedByCurrentUser()" class="follow-action" ng-click="approve(item)">
        <i class="icon ion-person" style="color: #adb7c6"></i>
        <i class="icon ion-android-time calm"></i> 
      </a>
      <p ng-if="!item.isApprovedByCurrentUser()" class="pending-message">waiting for your approval</p>
    </li>
  </ul>

  <p class="info-message" ng-hide="data && data.length > 0">
    Well, that's a bummer. You don't have any followers yet.
  </p>
</section>