<section ng-controller="influences.following" class="margin-8">
  <ul class="profiles-list-two">
    <li ng-repeat="item in data">
      <figure ng-click="navigateTo('path', 'influence/profile', item.user_id)">
        <avatar-img img="item.avatar_file_name" text="item.first_name"></avatar-img>
      </figure>
      <p ng-click="navigateTo('path', 'influence/profile', item.user_id)">{{ item.username}}</p>
      <p ng-if="item.hasApprovedCurrentUser()"><span>{{ item.first_name}} {{ item.last_name}}</span></p>
      <a ng-show="item.hasApprovedCurrentUser()" class="follow-action" ng-click="unfollow(item)">
        <i class="icon ion-person calm"></i>
        <i class="icon ion-minus-circled" style="color: #adb7c6"></i> 
      </a>
      <a ng-show="!item.hasApprovedCurrentUser()" class="follow-action">
        <i class="icon ion-person" style="color: #adb7c6"></i>
        <i class="icon ion-android-time calm"></i> 
      </a>
      <p ng-if="!item.hasApprovedCurrentUser()" class="pending-message">pending approval</p>
    </li>
  </ul>

  <p class="info-message" ng-hide="data.length">
    No influences?! Nonsense - follow someone whose opinion you respect to improve your Powerline experience!.
  </p>

</section>