<section ng-controller="influences.followers" class="margin-8">
  <ul class="profiles-list-two">
    <li ng-repeat="item in data">
      <figure ng-click="navigateTo('path', 'influence/profile', item.user_id)">
        <avatar-img img="item.avatar_file_name" text="item.first_name"></avatar-img>
      </figure>
      <p ng-click="navigateTo('path', 'influence/profile', item.user_id)">{{ item.username}}</p>
      <p><span>{{ item.first_name}} {{ item.last_name}}</span></p>
      <a class="follow-action" ng-click="remove(item)">
        <i class="icon ion-person calm"></i>
        <i class="icon ion-minus-circled" style="color: #adb7c6"></i> 
      </a>
    </li>
  </ul>

  <p class="info-message" ng-hide="data && data.length > 0">
    Well, that's a bummer. It looks like no one is following you.
  </p>
</section>