<ion-view view-title="User Profile">
  <ion-content class="content">
    <section class="profile-header">
      <div class="avatar">
        <avatar-img img="data.avatar_file_name" text="data.first_name"></avatar-img>
      </div>
      <div>
          <p class="title" ng-bind="data.first_name + ' ' + data.last_name"></p>
          <p class="slogan" ng-bind="data.slogan" ng-show="isFollowedAndApproved()"></p>
          <p ng-show="data.bio && isFollowedAndApproved()" style="clear: both;"><strong>Bio:</strong> {{ data.bio}}</p>
      </div>
      <br>
      <button class="btn-large btn-red1" 
        style="text-transform: capitalize" 
        ng-show="follow && follow.isFollowedByCurrentUser() && follow.isApproved()"
        ng-click="changeStatus('unfollow')">
        <i class="icon ion-person" style="font-size: 25px"></i>
        <i class="icon ion-minus-circled" style="font-size: 14px; vertical-align: middle"></i> 
        <span style="margin-left: 5px; vertical-align: text-top">Unfollow</span>
      </button>

      <button class="btn-large btn-primary" 
        style="text-transform: capitalize" 
        ng-show="follow && !follow.isFollowedByCurrentUser()"
        ng-click="changeStatus('follow')">
        <i class="icon ion-person" style="font-size: 25px"></i>
        <i class="icon ion-plus-circled" style="font-size: 14px; vertical-align: middle"></i> 
        <span style="margin-left: 5px; vertical-align: text-top">Follow</span>
      </button>
      <p ng-if="follow && follow.isFollowedByCurrentUser() && !follow.isApproved()" style="font-style: italic;">pending approval</p>
    </section>

    <section>
      <ul class="info-list">
          <li ng-show="data.birth">
              <p><span>Date of Birth</span></p>
              <p ng-bind="data.birth"></p>
              <i class="icon-date"></i>
          </li>
          <li ng-show="data.facebook_link" ng-click="openSystem(data.facebook)">
              <p><span>Facebook</span></p>
              <p ng-bind="data.facebook_link"></p>
          </li>
          <li ng-show="data.twitter_link" ng-click="openSystem('https://twitter.com/' + data.twitter)">
              <p><span>Twitter</span></p>
              <p ng-bind="data.twitter_link"></p>
          </li>
          <li ng-show="data.city">
              <p><span>City</span></p>
              <p ng-bind="data.city"></p>
              <i class="icon-address"></i>
          </li>
          <li ng-show="data.state">
              <p><span>State</span></p>
              <p ng-bind="data.state"></p>
          </li>
          <li ng-show="data.country">
              <p><span>Country</span></p>
              <p ng-bind="data.country"></p>
          </li>
      </ul>
    </section>

    <section ng-include=" 'templates/home/activities.html' "></section>
    
  </ion-content>
</ion-view>