<div class="popup-overflow">
  <div class="popup padding-10" style="min-height: 200px;">
    <p class="btn-close" ng-click="cancel()"></p>

    <form name="cardForm" ng-submit="submit()" ng-show="!loading">
      <fieldset class="margin-v-20">
        <h3 style="color: gray;font-size: 12px;">Please enter your credit card information</h3><br>

        <div class="item-floating-label text-field-1">
          <span class="input-label">Name<asterisk>*</asterisk></span>
          <input type="text" name="name" ng-model="data.name" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Number<asterisk>*</asterisk></span>
          <input type="number" name="number" ng-model="data.number" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">CVC<asterisk>*</asterisk></span>
          <input type="number" name="cvc" ng-model="data.cvc" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Expiration Month (MM)<asterisk>*</asterisk></span>
          <input type="number" name="expired_month"
                 max="12" ng-model="data.expired_month" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Expiration Year (YYYY)<asterisk>*</asterisk></span>
          <input type="number" name="expired_year"
                 max="9999" ng-model="data.expired_year" required/>
        </div>
      </fieldset>

      <fieldset class="margin-v-20">
        <h3 style="color: gray;font-size: 12px;">Please enter your billing address</h3><br>

        <div class="item-floating-label text-field-1">
          <span class="input-label">Street Address<asterisk>*</asterisk></span>
          <input type="text" name="line1" ng-model="data.address.line1" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Address Line 2</span>
          <input type="text" name="line2" ng-model="data.address.line2"/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">City<asterisk>*</asterisk></span>
          <input type="text" name="city" ng-model="data.address.city" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">State<asterisk>*</asterisk></span>
          <input type="text" name="state" ng-model="data.address.state" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Postal Code<asterisk>*</asterisk></span>
          <input type="text" name="postal_code" ng-model="data.address.postal_code" required/>
        </div>
      </fieldset>

      <div class="margin-v-10">
        <button class="btn-large btn-primary">Save & Submit</button>
      </div>
    </form>

  </div>

  <div class="wrap-center wrap-dark" ng-show="loading">
    <spinner></spinner>
  </div>
</div>