.news-feed {
  .notifications {
    position: fixed;
    top: 46px;
  }

  .groups-filter-panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: 84px;
    z-index: 9;
  }

  .content {
    padding-top: 134px;
  }
}