.news-feed {
  .notifications {
    position: fixed;
    top: $mainHeaderHeight;
  }

  .groups-filter-panel {
    position: fixed;
    width: 100%;
    left: 0;
    top: $mainHeaderHeight+38px;
    z-index: 9;
  }

  .content {
    top: $mainHeaderHeight+38px+50px;
  }
}