<article class="item">

  <figure ng-click="navigateTo('owner-profile', activity.get('owner'));$event.stopPropagation();">
    <img bo-show="avatar_file_path" bo-src="avatar_file_path">
    <span ng-show="activity.isInPriorityZone()"></span>
  </figure>

  <div class="item-title">
    <i bo-class="iconClass"></i>
    <strong bo-bind="full_name"></strong>
    <strong bo-bind="official_title"></strong>
    <span bo-if="owner_info_1" bo-bind="owner_info_1"></span>
    <i class="time"><time>{{ sent_at_elapsed }}</time></i>
  </div>
  <div class="item-content" ng-click="navigateToActivity(activity)">
    <p bo-if="activity.get('image_src')" class="picture"><img bo-src="activity.get('image_src')"/></p>
    <p ng-class="{unanswered: activity.isUnanswered()}" bo-if="title" bo-bind="title"></p>
    <p ng-class="{unanswered: activity.isUnanswered() && !title}" bo-bind="description"></p>
  </div>
  <div class="item-footer">
    <div class="control" ng-show="sending">
      <spinner></spinner>
    </div>
    <div class="control" ng-hide="sending">
      {{ activity.get('rate_up') || 0}}
      <i class="activity-control up" ng-click="rate('up')"></i>
    </div>
    <div class="control" ng-hide="sending">
      {{ activity.get('rate_down') || 0}}
      <i class="activity-control down" ng-click="rate('down')"></i>
    </div>
    <div class="control"><a ng-click="navigateToActivity(activity, 'add-comment')" class="activity-control reply"></a></div>
    <div class="responses" bo-bind="responses_count"></div>
  </div>
</article>