<article class="item">

  <figure ng-click="navigateTo('owner-profile', activity.get('owner'));$event.stopPropagation();">
    <img bo-show="avatar_file_path" bo-src="avatar_file_path" ng-if="!isDefaultAvatar">
    <ng-letter-avatar data="{{(full_name| trim) || (official_title| trim)}}" ng-if="isDefaultAvatar"></ng-letter-avatar>
    <span ng-show="activity.isInPriorityZone()"></span>
  </figure>

  <div class="item-title">
    <p class="first-line">
      <i bo-class="iconClass"></i>
      <strong bo-bind="full_name"></strong>
      <strong bo-bind="official_title"></strong>
      <span bo-if="owner_info_1" bo-bind="owner_info_1"></span>
    </p>
    <p ng-class="{unanswered: activity.isUnanswered()}" bo-if="title" bo-bind="title"></p>
    <i class="time"><time>{{ sent_at_elapsed }}</time></i>
  </div>
  <div class="item-content" ng-click="navigateToActivity(activity, null, $event)">
    <p bo-if="activity.get('image_src')" class="picture"><img ng-src="{{imagePath}}" zoom-src="{{imagePath}}" zoom-view/></p>
    <p ng-class="{unanswered: activity.isUnanswered() && !title}" ng-bind-html="description" ng-click="navigateToActivity(activity, null, $event)"></p>

    <div ng-show="hasMetaData" style="margin-top:5px">
      <img src="{{image}}" style="width: :100%"/>
      <div style="font-weight:700;font-size:15px;color: #000;line-height:32px;">{{title}}</div>
      <div style="font-size:14px;color: #666">{{meta_description}}</div>      
    </div>
  </div>
  <div class="item-footer">
    <div class="control" ng-show="sending">
      <spinner></spinner>
    </div>
    <div class="control" ng-show="activity.isUnanswered() && !sending">
      <i class="activity-control double-up" ng-click="sign(1)"></i>
    </div>
    <div class="control" ng-show="activity.isUnanswered() && !sending">
      <i class="activity-control double-down"  ng-click="sign(2)"></i>
    </div>
    <div class="control" ng-show="activity.get('answer').option_id && !sending">
      <a ng-click="unsign()">undo</a>
    </div>
    <div class="control"><a ng-click="navigateToActivity(activity, 'add-comment')" class="activity-control reply"></a></div>
    <div class="control" ng-show="followable && isFollowShow">
      <a ng-click="followOwner()"><i class="icon ion-person-add"></i></a>
    </div>
    <div class="control" ng-show="!followable && isFollowShow">
      <span ng-show="isFollowApproved" ng-click="showToast('You are following this user')"><i class="icon ion-person-stalker"></i></span>
      <span ng-show="!isFollowApproved" ng-click="showToast('Waiting for user to approve...')"><i class="icon ion-person"></i></span>
    </div>

<!--subscribe button for Post start-->    
    <div class="control" style="padding-top: 3px">
      <a ng-click="onSubscribeBtnClicked()"><i ng-class="'ion-android-notifications'" style="font-size: 22px;" ng-style="mutingStyle"></i></a>
      <a ng-click="onAddBookmark()">
        <i class="ion-star" style="font-size: 22px;" ng-style="starStyle">
        </i>
      </a>
    </div>
<!--subscribe button for Post end-->    


    <div class="responses" bo-bind="responses_count"></div>
  </div>
  <div class="completion-fill-vertical">
    <div class="process-wrap">
      <div class="process" ng-style="{height: booster + '%' }"></div>
    </div>
  </div>
</article>
