<section class="q-header margin-10">
    <div class="avatar" ng-click="navigateTo('owner-profile', q.user)">
        <img ng-src="{{ q.user.avatar_file_path }}"/>
    </div>
    <div class="q-info">
        <div>
            <i class="icon-responses"></i> Responses <br>
            <span ng-bind="q.votes_count"></span>
        </div>
        <div>
            <i class="icon-calendar"></i> Created <br>
            <time ng-bind="q.published_at_date | date:'M.d.yy'"></time>
        </div>
        <div>
            <i class="icon-calendar"></i> Expires<br>
            <time ng-bind="q.expired_at | date:'M.d.yy'"></time>
        </div>
        <div>
            Question <br>
            <i class="icon-poll"></i>
        </div>
    </div>
</section>

<section class="q-content">
    <div class="title">
        <strong ng-bind="q.user.official_title + ' ' + q.user.first_name +  ' '  +  q.user.last_name" ng-click="navigateTo('owner-profile', q.user)"></strong>
    </div>

    <p i-bind-taggable="q.subject" i-tags="q.cached_hash_tags"></p>

    <ng-include src="subview"></ng-include>
    <ng-include src="'templates/widget/share.html'"></ng-include>
</section>

<tab-panel>
    <ul class="header">
        <li ng-click="open($event)">Discussion</li>
        <li ng-click="open($event)">Influences</li>
        <li ng-click="open($event)">More</li>
    </ul>
    <tabs>
        <tab><discussions id="q.id" entity="'poll'"></discussions></tab>
        <tab>
            <div ng-if="!loading">
                <div ng-controller="question.influences" ng-include=" 'templates/question/influences.html' "></div>
            </div>
        </tab>
        <tab><ng-include src="'templates/question/educational-context.html'"></ng-include></tab>
    </tabs>
</tab-panel>


<div class="wrap-center" ng-show="loading"><spinner></spinner></div>