<ion-view view-title="Post">
  <ion-content class="page-petition content">
    <section class="q-header margin-10">
      <div class="avatar" ng-click="navigateTo('owner-profile', petition.owner)">
        <avatar-img img="petition.owner.avatar" text="petition.owner.name"></avatar-img>
      </div>
      <div class="q-info">
        <div>
          <i class="icon-responses"></i> Responses <br>
          <span ng-bind="petition.votes_count"></span>
        </div>

        <div>
          <i class="icon-calendar"></i> Created <br>
          <time ng-bind="petition.created_at_date | date:'M.d.yy'"></time>
        </div>
        <div>
          <i class="icon-calendar"></i> Expires<br>
          <time ng-bind="petition.expired_at_date | date:'M.d.yy'"></time>
        </div>
        <div>
          Petition <br>
          <i class="icon-post"></i>
        </div>
      </div>
    </section>

    <section class="q-content">
      <div class="title">
        <strong ng-bind="petition.owner.name" ng-click="navigateTo('owner-profile', petition.owner)"></strong>
      </div>

      <h1 ng-bind="petition.title" ng-show="petition.title"></h1>
      <p ng-bind-html="petition.petition_body_parsed" i-tags i-open-system-links></p>

      <ng-include src="subview"></ng-include>
      <ng-include src="'templates/widget/share.html'"></ng-include>
    </section>


    <tab-panel>
      <ul class="header">
        <li ng-click="open($event)">Discussion</li>
      </ul>
      <tabs>
        <tab><discussions id="petition.id" entity="'micro-petitions'"></discussions></tab>
      </tabs>
    </tab-panel>
  </ion-content>
</ion-view>