<ion-view title="EVENT" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goToHomeScreen()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
  <ion-content class="content">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="pullToRefresh()">
    </ion-refresher>

    <section class="q-header margin-10">
      <div class="avatar" ng-click="navigateTo('owner-profile', q.group)">
        <avatar-img img="q.group.avatar_file_path" text="q.group.official_name"></avatar-img>
      </div>
      <div class="q-info">
        <div>
          <i class="icon-responses"></i> Responses <br>
          <span ng-bind="q.votes_count"></span>
        </div>
        <div class="small">
          <i class="icon-time"></i> Start <br>
          <time ng-bind="q.started_at_date | date:'M.d.yy'"></time>
          <time ng-bind="q.started_at_date | date:'HH:mm'"></time>
        </div>
        <div class="small">
          <i class="icon-time"></i> End <br>
          <time ng-bind="q.finished_at_date | date:'M.d.yy'"></time>
          <time ng-bind="q.finished_at_date | date:'HH:mm'"></time>
        </div>
        <div>
          Event <br>
          <i class="icon-event"></i>
        </div>
      </div>
    </section>


    <section class="q-content">
      <div class="title">
        <strong ng-bind="q.user.official_title + ' ' + q.user.first_name + ' ' + q.user.last_name" ng-click="navigateTo('owner-profile', q.user)"></strong>
      </div>
      <h1 ng-bind="q.title"></h1>
      <p i-bind-taggable="q.subject" i-tags="q.cached_hash_tags"></p>
      <div class="report-button" ng-click="report()">
        <img src="images/icons/reporticon-blue.png" />
      </div>

      <section class="margin-h-10" ng-hide="q.is_answered">
        <fieldset>
          <div class="checkbox-field-long" ng-repeat="option in q.options" ng-class="{active: data.option === option}"
               ng-click="select(option)">
            <span><i></i></span>
            <p>{{ option.payment_amount ? option.payment_amount + '$ - ' : '' }}{{ option.value}}</p>
          </div>
        </fieldset>
      </section>

      <section class="info-message" ng-show="q.is_answered" style="padding: 15px;">
        <p>You RSVP’d ("{{q.answer_entity.option.value}}")</p>
        <button class="btn-medium btn-primary" ng-click="addToCalendar()">Re-add to calendar</button>
      </section>

      <ng-include src="'templates/widget/share.html'" ng-if="q.is_allow_outsiders"></ng-include>
    </section>


    <section ng-show="data.showAnswerForm">
      <div class="popup-overflow">
        <fieldset class="popup">
          <a class="text-close" ng-click="data.showAnswerForm = false;
                data.option = null;">Cancel</a>
          <p class="section-title">
            <strong>Submit?</strong>
            <span>{{ data.option.value}}</span>
          </p>
          <div class="text-field-2">
            <textarea ng-model="data.comment" placeholder="(Optional) You can add your comment here" maxlength="500"></textarea>
          </div>
          <div class="margin-10">
            <div class="checkbox-privacy" ng-class="{checked: data.privacy == 'private'}" ng-click="data.privacy = data.privacy == 'private' ? 'public' : 'private'" guide="privacy-option">
              <i></i>
              {{ data.privacy == 'private' ? 'Username hidden' : 'Username visible'  }}
            </div>
          </div>
          <div class="section-footer">
            <span ng-bind="500 - data.comment.length"></span>
            <a class="btn-text" ng-click="submit()">
              Submit
              <i class="icon-send"></i>
            </a>
          </div>
        </fieldset>
      </div>

    </section>

    <tab-panel>
      <ul class="header">
        <li ng-click="open($event)">Discussion</li>
        <li ng-click="open($event)">More</li>
      </ul>
      <tabs>
        <tab><discussions id="q.id" entity="'poll'"></discussions></tab>
        <tab><show-attachments content-item="q"></show-attachments></tab>
      </tabs>
    </tab-panel>
  </ion-content>
</ion-view>