<section class="guide-content">
  <header>
    {{ title }}
    <a class="btn-close" ng-click="path('/main')"></a>
  </header>
  <div class="wrap">
    <div class="wrap-animate"
         ng-class="'swipe-' + (item + 1)"
         ng-style="{height: (minContentHeight - 150) + 'px', transform: 'translateX(-' + (item * 10) + '%)'}"
         i-swipe-animated i-swipe-left="back()" i-swipe-right="next()"
        >
      <figure ng-style="{height: (minContentHeight - 150) + 'px'}" ng-repeat="i in [0,1,2,3,4,5,6]">
        <img ng-src="images/v2/guide/{{ i + 1 }}.png">
      </figure>
    </div>
  </div>
</section>

<section class="screen-process">
  <i class="step" ng-repeat="i in [0,1,2,3,4,5,6]" ng-class="{active: $index === item}"></i>
</section>

<section class="footer-fixed">
  <button ng-click="back()" class="btn-text-footer" ng-disabled="item === 0">Back</button>
  <button ng-click="next()" class="btn-text-footer" ng-hide="item === 6">Next</button>
  <button ng-click="path('/main')" class="btn-text-footer" ng-show="item === 6">Close</button>
</section>