<div class="manage-group-section" ng-class="isExpanded('members') ? 'active' : ''">
  <div class="expand-icon" ng-click="toggleVisibility('members')"></div>
  <div class="title" ng-click="toggleVisibility('members')">Manage Group Members</div>
  <div class="content" ng-show="isExpanded('members')">

    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr ng-repeat="member in group.groupMembers | orderBy:'username'">
        <td>
          <span class="member-label">Username:</span> {{member.username}}<br />
          <span class="member-label">Name:</span> {{member.first_name}} {{member.last_name}}<br />
          <span class="member-label">Email:</span> {{member.email}}<br/>
          <span class="member-label">Role:</span> {{member.user_role}}
        </td>
        
        <td class="actions">
          <button 
            ng-show="membershipIsPending(member)"
            style="background-color: #84c0ff"
            class="button-small icon ion-ios-checkmark"
            ng-click="approveMembership(member)">
            Approve Membership
          </button>
          <button 
            ng-show="canBecameManager(member)"
            style="background-color: #84c0ff"
            class="button-small icon ion-arrow-up-a"
            ng-click="makeManager(member)">
            Make Manager
          </button>
          <button 
            ng-show="canBeDowngradedToNormalMember(member)"
            class="button-small icon ion-arrow-down-a"
            ng-click="makeNormalMember(member)">
            Make Normal Member
          </button>
          <button 
            ng-show="canRemoveUser(member)"
            class="button-small icon ion-trash-b delete-action"
            ng-click="removeFromGroup(member)">
            Remove from Group
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>