<div class="manage-group-section" ng-class="isExpanded('payment-setup') ? 'active' : ''">
  <div class="expand-icon" ng-click="expand('payment-setup')"></div>
  <div class="title" ng-click="expand('payment-setup')">Payment Setup</div>
  <div class="content" ng-show="isExpanded('payment-setup')">

    <div>
      Bank accounts:

      <div ng-show="hasNoBankAccount()">
        This group has no associated bank accounts.
      </div>
      
      <div ng-repeat="account in group.bankAccounts">
          {{account.bank_name}}
      </div>
    </div>

    <div class="save-button-holder" style="margin-top: 11px;">
      <button 
        ng-click="addBankAccount()"
        class="button btn-primary">
        Add Bank Account
      </button>
    </div>
  </div>
</div>

<group-bank-account-form ng-show="showAddBankAccountPopup"
  cancel="showAddBankAccountPopup=false"
  completed="showAddBankAccountPopup=false;"
  group="group"></group-card-form>