<div class="manage-group-section" ng-class="isExpanded('payment-setup') ? 'active' : ''">
  <div class="expand-icon" ng-click="toggleVisibility('payment-setup')"></div>
  <div class="title" ng-click="toggleVisibility('payment-setup')">Payment Setup</div>
  <div class="content" ng-show="isExpanded('payment-setup')">

    <div>
      <div ng-hide="group.bankAccount">
        This group has no associated bank account.
      </div>

      <div ng-show="group.bankAccount">
        This group has following bank account:<br/>
        Bank name: {{group.bankAccount.bank_name || 'Unknown bank name'}}<br />
        Account number ends with: {{group.bankAccount.last4}}
      </div>
    </div>

    <div class="save-button-holder" style="margin-top: 11px;">
      <button 
        ng-click="addBankAccount()"
        class="button btn-primary">
        {{group.bankAccount ? 'Change' : 'Add'}} Bank Account
      </button>
      <button 
      ng-show="group.bankAccount"
        ng-click="deleteBankAccount()"
        class="button btn-primary delete-action">
        Remove Account
      </button>
    </div>

    <div style="padding-top: 10px;">
      <div ng-hide="group.paymentCard">
        This group has no associated payment card.
      </div>

      <div ng-show="group.paymentCard">
        This group has following payment card:<br/>
        Card issued by: {{group.paymentCard.brand}}<br />
        Card number ends with: {{group.paymentCard.last4}}
      </div>
    </div>

    <div class="save-button-holder" style="margin-top: 11px;">
      <button 
        ng-click="addPaymentCard()"
        class="button btn-primary">
        {{group.paymentCard ? 'Change' : 'Add'}}  Payment Card
      </button>
      <button 
      ng-show="group.paymentCard"
        ng-click="deletePaymentCard()"
        class="button btn-primary delete-action">
        Remove Card
      </button>
    </div>
  </div>
</div>

<group-bank-account-form ng-show="showAddBankAccountPopup"
  cancel="showAddBankAccountPopup=false"
  completed="showAddBankAccountPopup=false;bankAccountAdded()"
  group="group"></group-bank-account-form>

<group-payment-card-form ng-show="showAddPaymentCardPopup"
  cancel="showAddPaymentCardPopup=false"
  completed="showAddPaymentCardPopup=false;paymentCardAdded()"
  group="group"></group-payment-card-form>