<div class="manage-group-section" ng-class="isExpanded('user-content-settings') ? 'active' : ''">
  <div class="expand-icon" ng-click="toggleVisibility('user-content-settings')"></div>
  <div class="title" ng-click="toggleVisibility('user-content-settings')">User Content Settings</div>
  <div class="content" ng-show="isExpanded('user-content-settings')">
    <div>
      <div class="label">
        Limit of user petitions and posts per month (choose value between 1 and 1000)
      </div>
      <input 
        type="number"
        style="width: 100px"
        ng-model="group.petition_per_month" 
        maxlength="4" />
      <div class="label">
        Quorum percentage (choose value between 0 an 50)
      </div>
      <input 
        type="number"
        style="width: 100px"
        ng-model="group.petition_percent" 
        maxlength="2" /> &#37;
      <div class="label">
        Quorum duration in days
      </div>
      <input 
        type="number"
        style="width: 100px"
        ng-model="group.petition_duration" 
        maxlength="2" />
    </div>

    <div class="save-button-holder">
      <button ng-click="updateUserContentSettings()" 
        class="button btn-primary">
        Save
      </button>
    </div>
  </div>

</div>