<div class="popup-overflow">
  <div class="popup padding-10" style="min-height: 200px;">
    <p class="btn-close" ng-click="cancel()"></p>

    <form name="cardForm" ng-show="!loading">
      <fieldset class="margin-v-20">
        <h3 style="color: gray;font-size: 12px;">Please enter card information</h3><br>

        <div class="item-floating-label text-field-1">
          <span class="input-label">Name</span>
          <input type="text" name="name" ng-model="data.name" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Number</span>
          <input type="number" name="number" ng-model="data.number" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">CVC</span>
          <input type="number" name="cvc" ng-model="data.cvc" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Expiration Month (MM)</span>
          <input type="number" name="expired_month"
                 max="12" ng-model="data.expired_month" required/>
        </div>
        <div class="item-floating-label text-field-1">
          <span class="input-label">Expiration Year (YYYY)</span>
          <input type="number" name="expired_year"
                 max="9999" ng-model="data.expired_year" required/>
        </div>
      </fieldset>

      <div class="margin-v-10">
        <button class="btn-large btn-primary"  ng-click="submit()">Save & Submit</button>
      </div>
    </form>

  </div>

</div>