<ion-view view-title="New Group" hide-back-button="fromMenu">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-show="fromMenu"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="send()">Send</button>
  </ion-nav-buttons>
  <ion-content class="content">
    <section class="margin-h-10 padding-v-10">
      <form name="createGroupForm" novalidate ng-class="formClass" class="margin-v-10" autocomplete="off">
        <fieldset class="margin-v-10">
          <div class="item-floating-label text-field-1" ng-class="{invalid: createGroupForm.official_name.$invalid && createGroupForm.$filled}">
            <span class="input-label">Group Name<asterisk>*</asterisk></span>
            <input type="text" ng-model="data.official_name" required name="official_name" />
          </div>
          <div class="item-floating-label text-field-1" ng-class="{invalid: createGroupForm.official_type.$invalid && createGroupForm.$filled}">
            <span class="input-label">Group Type<asterisk>*</asterisk></span>
            <select ng-model="data.official_type" name="official_type" required ng-options="type for type in types" i-placeholder>
              <option value=""></option>
            </select>
          </div>
          <div class="item-floating-label text-field-1" ng-class="{invalid: createGroupForm.official_description.$invalid && createGroupForm.$filled}">
            <span class="input-label">Group Description<asterisk>*</asterisk></span>
            <input type="text" ng-model="data.official_description" required name="official_description" />
          </div>
          <div class="item-floating-label text-field-1" ng-class="{invalid: createGroupForm.acronym.$invalid && createGroupForm.$filled}">
            <span class="input-label">Group Acronym</span>
            <input type="text" ng-model="data.acronym" name="acronym" />
          </div>
        </fieldset>
        <button ng-click="create(createGroupForm)" id="submitter" class="ng-hide"></button>
      </form>
    </section>
  </ion-content>
</ion-view>