<ion-view view-title="Join Group">
  <ion-content class="content page-join-group">
    <section ng-show="!loading" class="padding-10">
      <form name="joinForm" novalidate ng-class="formClass" autocomplete="off" ng-show="!showApproveMessage">
        <fieldset class="margin-v-10" ng-show="group.isPasscodeRequiredOnJoin()">
          <div class="text-field text-field-label" ng-class="invalidClass(joinForm.passcode.$invalid)">
            <label for="group_passcode">Passcode</label>
            <input type="password" ng-model="data.passcode" ng-required="group.isPasscodeRequiredOnJoin()" name="passcode" autocapitalize="off" autocorrect="off" id="group_passcode" />
          </div>
        </fieldset>

        <fieldset class="padding-v-10" ng-show="!group.canBeJoinedInstantly()">
          <ng-form name="fields" ng-repeat="item in data.fields">
            <div class="text-field text-field-label" ng-class="invalidClass(fields.value.$invalid)">
              <label ng-bind="item.field.field_name" for="passcode_input_{{$index}}"></label>
              <input type="text" name="value" placeholder="Type text here" ng-model="item.field_value" id="passcode_input_{{$index}}" required/>
            </div>
          </ng-form>
        </fieldset>
        <button class="btn-large btn-primary margin-v-10" ng-click="join(joinForm)">Continue</button>
      </form>
    </section>

    <div ng-show="showApproveMessage" class="info-message" style="margin-top: 70px;">
      <p>Awaiting Approval <br> from Group Administrator</p>
    </div>
    <br>
  </ion-content>
</ion-view>