<ion-view view-title="Manage Group">

  <ion-content class="content">

    <section class="p-header">
      <div class="avatar">
        <avatar-img img="group.avatar_file_path" text="group.official_title"></avatar-img>
      </div>

      <h3 ng-bind="group.official_title"></h3>
    </section>

    <section class="manage-group-sections">
      <div class="manage-group-section" ng-class="isExpanded('subscription-level') ? 'active' : ''">
        <div class="expand-icon" ng-click="expand('subscription-level')"></div>
        <div class="title" ng-click="expand('subscription-level')">Subscription Level</div>
        <div class="content" ng-show="isExpanded('subscription-level')">
          <div class="current-subscription-level-info">
            <div class="name">Current Account: 
              <span class="capitalize">{{group.subscriptionLevel}}</span>
            </div>
            <div class="expire-at" 
              ng-show="group.subscriptionLevelExpireAt">
              Expire at: {{group.subscriptionLevelExpireAt}}
            </div>
            <div class="cancel" 
              ng-show="isSubscriptionLevelCancellable()"
              ng-click="cancelSubscriptionLevel()">
              Cancel subscription
            </div>
          </div>
          <br/>

          <div class="subscription-levels">
            <div class="subscription-level" ng-click="changeSubscriptionLevel(groups.subscriptionLevels.FREE)">
              <div class="price">
                <div class="inner">Free/<br />month</div>
              </div>
              <div class="desc">
                <div class="subscription-title">
                  Get Started
                </div>
                <div  class="audience-and-size">
                  Audience: Unlimited<br/>
                  Size: Unlimited
                </div>              
              </div>
            </div>
            <div class="select-button" 
            ng-hide="isActiveSubscriptionLevel(groups.subscriptionLevels.FREE)"
            ng-click="changeSubscriptionLevel(groups.subscriptionLevels.FREE)">Select</div>  

            <div class="subscription-level" ng-click="changeSubscriptionLevel(groups.subscriptionLevels.SILVER)">
              <div class="price">
                <div class="inner">Silver<br />$19/month</div>
              </div>
              <div class="desc">
                <div class="subscription-title">
                  For Controls
                </div>
                <div  class="audience-and-size">
                  Audience: Not Business<br/>
                  Size: Under 1k users
                </div>      
              </div>
            </div>
            <div class="select-button" 
            ng-hide="isActiveSubscriptionLevel(groups.subscriptionLevels.SILVER)"
            ng-click="changeSubscriptionLevel(groups.subscriptionLevels.SILVER)">Select</div>  

            <div class="subscription-level" ng-click="changeSubscriptionLevel(groups.subscriptionLevels.GOLD)">
              <div class="price">
                <div class="inner">Gold<br />$39/month</div>
              </div>
              <div class="desc">
                <div class="subscription-title">
                  Get Growth
                </div>
                <div  class="audience-and-size">
                  Audience: Unlimited<br/>
                  Size: Under 5k users
                </div>      
              </div>
            </div>
            <div class="select-button" 
            ng-hide="isActiveSubscriptionLevel(groups.subscriptionLevels.GOLD)"
            ng-click="changeSubscriptionLevel(groups.subscriptionLevels.GOLD)">Select</div>  

            <div class="subscription-level" ng-click="changeSubscriptionLevel(groups.subscriptionLevels.PLATINUM)">
              <div class="price">
                <div class="inner">Platinum<br />$125/month</div>
              </div>
              <div class="desc">
                <div class="subscription-title">
                  For Insights
                </div>
                <div  class="audience-and-size">
                  Audience: Not Business<br/>
                  Size: Unlimited
                </div>      
              </div>
            </div>
            <div class="select-button" 
            ng-hide="isActiveSubscriptionLevel(groups.subscriptionLevels.PLATINUM)"
            ng-click="changeSubscriptionLevel(groups.subscriptionLevels.PLATINUM)">Select</div> 

          </div>
        </div>
      </div>      
      <div class="manage-group-section" ng-class="isExpanded('membership-control') ? 'active' : ''">
        <div class="expand-icon" ng-click="expand('membership-control')"></div>
        <div class="title" ng-click="expand('membership-control')">Membership Control</div>
        <div class="content" ng-show="isExpanded('membership-control')">

          <div>
            <select 
              ng-model="data.membership_control"
              ng-options="item as item.name for item in membershipControlOptions">
            </select>
            <input 
              ng-show="membershipControlSetToPasscode()"
              ng-model="data.membership_control_passcode" 
              maxlength="255" 
              placeholder="Type passcode here" />
          </div>

          <div class="save-button-holder">
            <button ng-show="membershipControlSettingsAltered()" 
              ng-click="saveMembershipControlSettings()"
              class="button btn-primary">
              Save
            </button>
          </div>
        </div>
      </div>

      <div class="manage-group-section" id="group-permissions" ng-class="isExpanded('group-permissions') ? 'active' : ''">
        <div class="expand-icon" ng-click="expand('group-permissions')"></div>
        <div class="title" ng-click="expand('group-permissions')">Group Permissions</div>
        <div class="content" ng-show="isExpanded('group-permissions')">

          <div>
            <ion-list>

              <ion-checkbox 
              ng-repeat="(pID, pHumanName) in allGroupPermissions"
              ng-model="data.selectedPermissions[pID]">{{pHumanName}}</ion-checkbox>

            </ion-list>
          </div>

          <div class="save-button-holder">
            <button ng-show="groupPermissionsAltered()" 
              ng-click="saveGroupPermissions()"
              class="button btn-primary">
              Save
            </button>
          </div>


        </div>
      </div>


      <div class="manage-group-section" id="group-invites" ng-class="isExpanded('group-invites') ? 'active' : ''">
        <div class="expand-icon" ng-click="expand('group-invites')"></div>
        <div class="title" ng-click="expand('group-invites')">Invites</div>
        <div class="content" ng-show="isExpanded('group-invites')">

          <div>
            <input 
              ng-model="data.invites_emails" 
              maxlength="1000" 
              placeholder="Enter email addresses" />
              <div>
              Use comma to separate addressess, e.g. kate@email.com, john@doe.com 
              </div>
          </div>

          <div style="padding-top: 10px;" class="save-button-holder">
            <button 
              ng-click="sendGroupInvites()"
              class="button btn-primary">
              Send
            </button>
          </div>

        </div>
      </div>
    </section>
  </ion-content>
</ion-view>