<ion-view view-title="Manage Group">
  <ion-nav-buttons side="right">
    <button ng-show="dataIsAltered()" class="button button-clear" ng-click="save()">Save</button>
  </ion-nav-buttons>

  <ion-content class="content">

    <section class="p-header">
      <div class="avatar">
        <avatar-img img="group.avatar_file_path" text="group.official_title"></avatar-img>
      </div>

      <h3 ng-bind="group.official_title"></h3>
    </section>

    <section class="manage-group-sections">
      <div class="manage-group-section" ng-class="isExpanded('subscription-level') ? 'active' : ''">
        <div class="expand-icon" ng-click="expand('subscription-level')"></div>
        <div class="title" ng-click="expand('subscription-level')">Subscription Level</div>
        <div class="content" ng-show="isExpanded('subscription-level')">
          dropdown be here
        </div>
      </div>      
      <div class="manage-group-section" ng-class="isExpanded('membership-control') ? 'active' : ''">
        <div class="expand-icon" ng-click="expand('membership-control')"></div>
        <div class="title" ng-click="expand('membership-control')">Membership Control</div>
        <div class="content" ng-show="isExpanded('membership-control')">

          <div>
            <select 
              ng-model="data.membership_control"
              ng-options="item as item.name for item in membershipControlOptions">
            </select>
            <input 
              ng-show="membershipControlSetToPasscode()"
              ng-model="data.membership_control_passcode" 
              maxlength="255" 
              placeholder="Type passcode here" />
          </div>

        </div>
      </div>
    </section>
  </ion-content>
</ion-view>