<ion-view view-title="Group Profile">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="togglePostWindow()" ng-show="data.groupTypeIsCommon() && data.joined">Invite</button>
  </ion-nav-buttons>
  
  <section ng-show="showPostWindow" class="new-post-window" ng-click="$event.stopPropagation()">
    <a ng-click="invite()" class="micropetition"><span class="text">Invite Followers to Group</span></a>
  </section>
  <ion-content class="content">

    <section class="p-header">
      <div class="avatar">
        <avatar-img img="data.avatar_file_path" text="data.official_name"></avatar-img>
      </div>

      <h3 ng-bind="data.official_name"></h3>
      <br><br>
      <button class="btn-large"
              ng-show="isChangeAvailable()"
              ng-click="data.joined ? unjoin() : join()"
              ng-bind="data.joined ? 'Unjoin' : 'Join'"
              ng-class="{'btn-primary': !data.joined, 'btn-red1': data.joined}"
              style="text-transform: capitalize;"></button>

    </section>

    <section class="margin-10" ng-show="data.official_description">
      <p class="gray-content" ng-bind="data.official_description"></p>
    </section>
    <section>
      <ul class="info-list">
        <li ng-show="canViewGroupManagement()">
          <button class="btn-large btn-primary"
              style="text-transform: capitalize;" 
              ng-click="goToGroupManagement()"
              >Manage</button>
        </li>
        <li ng-show="data.acronym">
          <p><span>Acronym</span></p>
          <p ng-bind="data.acronym"></p>
        </li>
        <li ng-show="data.membership_control">
          <p><span>Membership</span></p>
          <p ng-bind="data.membership_control" class="capitalize"></p>
        </li>        
        <li ng-show="data.manager_phone" ng-click="openSystem('tel:' + data.manager_phone)">
          <p><span>Phone Number</span></p>
          <p ng-bind="data.manager_phone"></p>
          <i class="icon-phone"></i>
        </li>
        <li ng-show="data.full_address" ng-click="openSystem((data.full_address | createGoogleMapsLink))">
          <p><span>Location</span></p>
          <p ng-bind="data.full_address"></p>
          <i class="icon-address"></i>
        </li>
        <li ng-show="data.total_members" ng-click="goToMembers()">
          <p><span>Total Members</span></p>
          <p ng-bind="data.total_members"></p>
        </li>
        <li ng-show="permissionsForHumans && permissionsForHumans.length > 0">
          <p><span>Permissions</span></p>
          <p ng-bind="permissionsForHumans.join(', ')"></p>
        </li>
      </ul>
    </section>

    <section ng-show="data.joined">
      <h3 ng-show="data.activities.length" class="margin-v-10">Recent Activity</h3>
      <ng-include src=" 'templates/home/activities.html' "></ng-include>
    </section>
  </ion-content>
</ion-view>