<ion-view view-title="PAYMENT REQUEST" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goToHomeScreen()">
      <i class="icon ion-ios-arrow-back"></i> 
    </button>
  </ion-nav-buttons>
  
  <ion-content class="content page-payment-request">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="pullToRefresh()">
    </ion-refresher>

    <section class="q-header margin-10">
      <div class="avatar" ng-click="navigateTo('owner-profile', q.group)">
        <avatar-img img="q.group.avatar_file_path" text="q.group.official_name"></avatar-img>
      </div>
      <div class="q-info three-sections">
        <div>
          <i class="icon-responses"></i> Responses <br>
          <span ng-bind="q.votes_count"></span>
        </div>
        <div>
          <i class="icon-calendar"></i> Created <br>
          <time ng-bind="q.published_at_date | date:'M.d.yy'"></time>
        </div>
        <div>
          Payment Request <br>
          <i class="icon-fundraiser"></i>
        </div>
      </div>
    </section>


    <section class="q-content">
      <div class="title">
        <strong ng-bind="q.user.official_title + ' ' + q.user.first_name + ' ' + q.user.last_name" ng-click="navigateTo('owner-profile', q.user)"></strong>
      </div>
      <h1 ng-bind="(q.title) + ' | ' + (q.group.official_name)"></h1>
      <div ng-if="group.user_role=='owner' || group.user_role=='manager'" class="report-button" ng-click="report()">
        <img src="images/icons/reporticon-blue.png" style="width:30px"/>
      </div>
      <p i-bind-taggable="q.subject" i-tags="q.cached_hash_tags"></p>
      
      <section class="margin-v-10" ng-hide="q.is_answered">
        <fieldset>
          <div class="checkbox-field-long" ng-repeat="option in q.options" ng-class="{active: data.option === option}"
               ng-click="select(option)">
            <span><i></i></span>
            <p>{{ option.payment_amount ? '$' + option.payment_amount + ' - ' : '' }}{{ option.value }}</p>
          </div>
        </fieldset>
      </section>

      <section class="margin-v-10 info-message" ng-show="q.is_answered">
        <p>
          <strong>Thank You! Your Receipt:</strong><br>
          ${{ q.answer_entity.current_payment_amount}} - {{ q.answer_entity.option.value}}
        </p>
      </section>
      <p>
        <strong ng-show="charge.has('receipt_number')">Receipt Number:</strong> {{ charge.get('receipt_number')}}<br>
        <strong ng-show="charge.has('created')">Transaction Date:</strong> {{ charge.get('created') | date:'medium'}}
      </p>

      <ng-include src="'templates/widget/share.html'" ng-if="q.is_allow_outsiders"></ng-include>
    </section>

    <section ng-show="data.showAnswerForm">
      <div class="popup-overflow">
        <fieldset class="popup">
          <a class="text-close" ng-click="data.showAnswerForm = false;
                data.option = null;">Cancel</a>
          <p class="section-title">
            <strong>Submit?</strong>
            <span>{{ data.option.value }}{{ data.option.payment_amount ?  ' - for $' + data.option.payment_amount : '' }}</span>
          </p>
          <div class="text-field-2" ng-if="data.option.is_user_amount  && data.option.value != 'I don\'t want to donate. Mark as read.'">
            <input type="number" ng-model="data.payment_amount" required name="payment_amount" placeholder="Enter custom amount here (number only)" />
          </div>
          <div class="text-field-2">
            <textarea ng-model="data.comment" placeholder="(Optional) You can add your comment here" maxlength="500"></textarea>
          </div>
          <div class="margin-10">
            <div class="checkbox-privacy" ng-class="{checked: data.privacy == 'private'}" ng-click="data.privacy = data.privacy == 'private' ? 'public' : 'private'" guide="privacy-option">
              <i></i>
              {{ data.privacy == 'private' ? 'Username hidden' : 'Username visible'  }}
            </div>
          </div>
          <div class="section-footer">
            <span ng-bind="500 - data.comment.length"></span>
            <a class="btn-text" ng-click="pay()">
              {{ data.option.payment_amount || data.option.is_user_amount ? 'Pay' : 'Submit' }}
              <i class="icon-send"></i>
            </a>
          </div>
        </fieldset>
      </div>

    </section>

    <cards ng-if="data.showCardsInfo" cancel="data.showCardsInfo=false" completed="data.showCardsInfo = false;data.showAnswerForm = true"></cards>

    <tab-panel>
      <ul class="header">
        <li ng-click="open($event)">Discussion</li>
        <li ng-click="open($event)">More</li>
      </ul>
      <tabs>
        <tab><discussions id="q.id" entity="'poll'"></discussions></tab>
        <tab><show-attachments content-item="q"></show-attachments></tab>
      </tabs>
    </tab-panel>
  </ion-content>
</ion-view>