<ion-view view-title="New Group Fundraiser">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="sendButtonClicked()">Send</button>
  </ion-nav-buttons>

  <ion-content class="content has-footer" has-bouncing="false">
    <ng-include src="'templates/shared/_create-content-group-picker.html'"></ng-include>

    <form name="fundraiserForm" novalidate ng-class="formClass" autocomplete="off">
      <fieldset class="add-post">
        <div class="title-field" ng-class="invalidClass(pollQuestionForm.question_text.$invalid)">
            <input ng-model="data.title_text" name="title_text" maxlength="255" required placeholder="Fundraiser title" />
        </div>
        <textarea ng-model="data.description_text" maxlength="250" name="description_text"
                  required placeholder="Type your description here"
                  ng-init="data.chars_left = 250"
                  ng-change="data.chars_left = 250 - data.description_text.length"
                  style="background-color: white; padding: 6px; margin-bottom: 14px;"></textarea>
        </textarea>
        <div style="margin-bottom: 15px;">
          <ion-toggle-custom ng-model="data.is_crowdfunding" ng-click="showCrowdfunderAlert()" 
          toggle-class="toggle-calm"><p style=" font-size: 17px;">Make this a crowdfunder?</p></ion-toggle-custom>  
        </div> 
        <div class="title-field" ng-show="data.is_crowdfunding">
          <span class="input-label">Goal Amount in USD</span>
            <input type="number" style="font-size: 15px;" ng-model="data.goal_amount" name="goal_amount" maxlength="50" required placeholder="e.g. 1000" />
        </div>
        <div class="title-field" ng-show="data.is_crowdfunding">
          <div ng-click="prefillEndOfEventDate()" class="item-floating-label text-field-1" style="background-color: white; border: 0; padding: 0 30px 0 0px;">
            <span class="input-label" style="font-size: 16px">End of Event (day)</span>
            <i class="icon-field icon-date"></i>
            <input 
            
            type="date"
            ng-model="data.end_of_event_date" 
            name="end_of_event_date" 
            maxlength="10" placeholder="ahoj" />
          </div>
        </div>
        <div class="title-field"  ng-show="data.is_crowdfunding">
          <div class="item-floating-label text-field-1"  style="background-color: white; border: 0; padding: 0 30px 0 0px;">
            <span class="input-label"  style="font-size: 16px">End of Event (hour)</span>
            <select 
            style="font-weight: 900; color: black"
            ng-model="data.end_of_event_hour" name="end_of_event_hour" 
            ng-options="h for h in hours">
            </select>
          </div>
        </div>

        <div style="width: 200px;" class="margin-v-20">
          <button class="btn-large btn-primary icon-left ion-plus-circled"
          ng-click="addAnswer()">
            Add Answer
          </button>
        </div>
        <div ng-repeat="answer in answers track by $index">
          <button style="float:right; position: relative; top: -5px;" 
          class="button icon ion-close-circled button-clear"
          ng-click="removeAnswer($index)">
          </button>
          <div style="overflow: hidden;">
            <input class="title-field" 
            type="number"
            style="width: 30%; display: inline;" 
            ng-model="answer.amount" 
            name="answer_amount" 
            maxlength="10" 
            required placeholder="Amount" />
            <input class="title-field" 
            style="width: 69%; float; right" 
            ng-model="answer.amount_desc" 
            name="amount_desc" 
            maxlength="255" 
            required placeholder="Description" />
          </div>
        </div>
        <div style="margin-bottom: 15px">
          <ion-toggle-custom ng-model="data.custom_amount_enabled" 
          toggle-class="toggle-calm"><p style=" font-size: 14px;">Allow Choose Your Own Amount?</p></ion-toggle-custom>  
        </div> 
        <button ng-show="data.custom_amount_enabled" style="float:right; position: relative; top: -5px; opacity: 0" 
          class="button icon ion-close-circled button-clear">
        </button>          
        <div style="overflow: hidden;" ng-show="data.custom_amount_enabled">
          <input class="title-field" 
          disabled="true"
          style="width: 30%" 
          value="Custom Amount"
          name="custom_answer_amount" />
          <input class="title-field" 
          style="width: 69%; float; right" 
          ng-model="data.custom_amount_amount_desc" 
          name="custom_amount_amount_desc" 
          maxlength="255" 
          required placeholder="Description" />
        </div>
        <!-- <button style="float:right; position: relative; top: -5px" 
          ng-click="showCannotRemoveWarning()"
          class="button icon ion-close-circled button-clear">
        </button>     -->
        <div style="overflow: hidden;">
          <input class="title-field" 
          disabled="true"
          style="width: 30%" 
          value="0 USD" />
          <input class="title-field" 
          disabled="true"
          style="width: 69%; float; right" 
          maxlength="255" 
          required placeholder="I don't want to donate. Mark as read." />
        </div>
      </fieldset>
    </form>

  </ion-content>

  <section class="footer-fixed" style="padding: 18px 12px;">
    <strong class="right" ng-bind="data.chars_left"></strong>
    <span ng-show="data.group && data.group.available !== undefined">
      You have (<strong>{{ data.group.available}}</strong>) fundraisers left in this group
    </span>
  </section>
</ion-view>