<section class="margin-8">
    <ul class="profiles-list-two" ng-repeat="group in items" style="margin: 0;">
        <li class="title" >{{ group.title }}</li>
        <li ng-repeat="representative in group.representatives" ng-click="navigateToProfile(representative)">
            <figure>
                <img ng-show="representative.avatar_file_path" ng-src="{{ representative.avatar_file_path }}">
            </figure>
            <p>{{ representative.first_name }} {{ representative.last_name }}</p>
            <p><span>{{ representative.official_title }}</span></p>
        </li>
    </ul>
    <br>
</section>
<div class="wrap-center" ng-show="loading"><spinner></spinner></div>